Options +ExecCGI

<IfModule mod_rewrite.c>
  RewriteEngine on

  # Not need if on a path reachable from root dir
  #RewriteBase /services/tictoclookup/standalone
  # serve all files contained in here directly
  RewriteCond %{REQUEST_FILENAME} !-f

  # or, just serve index.html and tictoc-(.*) directly
  #RewriteCond %{REQUEST_URI} !/index.html$
  #RewriteCond %{REQUEST_URI} !/tictoc-(.*)
  RewriteCond %{REQUEST_URI} !^(/.*)+tictocstandalone.py/
  RewriteRule ^(.*)$ tictocstandalone.py/$1 [PT]
</IfModule>

SetEnv WSGI_APPLICATION_GROUP tictoc-server

<Files tictocstandalone.py>
    SetHandler wsgi-script
</Files>

<FilesMatch "\.(js|xml)$">
Header set Cache-Control "max-age=1,must-revalidate"
</FilesMatch>

